* {
  box-sizing: border-box;
  font-family: "Exo 2", sans-serif;

}

body {
  background: #3d3f6b;
  background-image:url(imagens/wp4624908.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

.container {
  background: #fff;
  width: 420px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.46);
}

h1 {
  background: #7CFC00;
  color: #000000;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.338);
  border-radius: 5px;
  text-align: center;
  padding: 10px;
  margin-bottom: 15px;
}

.inputs {
  display: grid;
  gap: 10px;
  margin-bottom: 15px;
}

label {
  display: flex;
  flex-direction: column;
  font-size: 14px;
}

input {
  padding: 6px;
}

button {
  background: #101216;
  color: #fff;
  border: none;
  padding: 8px;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  opacity: 0.9;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ccc;
  padding: 6px;
  text-align: center;
}

tfoot td {
  background: #7CFC00;
  font-weight: bold;
}
